@import url('@esri/calcite-components/dist/calcite/calcite.css');

html,
body,
#app {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

arcgis-map {
    --calcite-color-brand: var(--calcite-color-status-warning) !important;
    height: 100% !important;
}

calcite-link {
    --calcite-link-text-color: var(--calcite-color-text-2) !important;
    --calcite-color-brand-underline: var(--calcite-color-text-2) !important;
}

.calcite-mode-dark {
    --calcite-chip-background-color: #2b2b2b !important;
    --calcite-chip-text-color: white !important;
    --calcite-scrim-background: var(--calcite-color-background);
    --calcite-color-focus: var(--calcite-color-status-warning) !important;
    --calcite-loader-progress-color: var(--calcite-color-status-warning);
    --calcite-color-brand: var(--calcite-color-status-warning);

    calcite-tabs {
        --calcite-color-brand: var(--calcite-color-status-warning);
        --calcite-color-focus: var(--calcite-color-status-warning);
      }

    calcite-action {
        --calcite-color-focus: var(--calcite-color-status-warning);
      }
      
}

.calcite-mode-light {
    --calcite-scrim-background: var(--calcite-color-background);
    --calcite-color-focus: var(--calcite-color-text-2) !important;
    --calcite-chip-background-color: white !important;
    --calcite-chip-text-color: var(--calcite-color-text-2) !important;
    --calcite-loader-progress-color: var(--calcite-color-text-2);

    calcite-tabs {
        --calcite-color-brand: var(--calcite-color-text-2);
        --calcite-color-focus: var(--calcite-color-text-2);
      }

    calcite-action {
        --calcite-color-focus: var(--calcite-color-text-2);
      }

    calcite-icon {
        --calcite-icon-color: var(--calcite-color-text-2);
      }
  }

